/BuildModelResult.log
/BuildModelResult.xml
/BuildProjectResult.log
/BuildProjectResult.xml
/CompileLabels.xml
/Resources
/bin
/XppMetadata
/ApplicationFoundationAux.xref
/Projects/ApplicationFoundationAux/obj/Debug/ApplicationFoundationAux.rnrprojAssemblyReference.cache
